* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, rgba(124, 58, 237, .08), transparent 40% ), #0F172A;
    font-family: 'Manrope';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.demo-mod {
    display: flex;
    justify-content: flex-end;
    padding: 29px 40px;
}

.demo {
    width: 145px;     
    height: 50px;             
    background: transparent;
    border: 1px solid rgba(124, 77, 255, 0.7);
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease;
}

.demo:hover {
    background: rgba(123, 92, 255, .08);
    box-shadow: 0 0 12px rgba(123, 92, 255, .25);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header img {
    width: 200px;
    height: 200px;
}

header .header-text {
    color: white;
}

.header-text h1 {
    font-size: 60px;
}

.header-text p {
    font-size: 20px;
}

#connexion {
    display: flex;
    justify-content: center;
    padding: 150px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ===========================
   Modal
=========================== */

.modal {
    display: none;
    position: fixed;
    inset: 0;

    justify-content: center;
    align-items: center;

    background: rgba(10, 15, 30, 0.45);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal.active {
    display: flex;
}

.modal-content {
    width: 400px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background: rgba(18, 24, 45);
    border: 2px solid #6D28D9;
    border-radius: 20px;

    backdrop-filter: blur(20px);
}
#login {
    flex-direction: column;
    gap: 10px;    
}

.container-errorAuth {
    display: none;
    width: 200px;
    background: rgba(18, 24, 45);
    border: 2px solid #6D28D9;
    border-radius: 20px;
    backdrop-filter: blur(20px);

    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

.container-errorAuth.active {
    display: flex;
}
.errorI {
    color: #6D28D9;
    font-size: 20px;
}
.errorAuth {
    padding: 0;
    color: white;
    padding: 5px 10px;
}
.register-content {
    min-height: 630px;
}

.modal-head {
    width: 100%;

    position: relative;

    display: flex;
    justify-content: center;

    padding-top: 30px;
}

.modal-head .exit-cross {
    position: absolute;
    top: 10px;
    right: 15px;

    font-size: 20px;
    color: white;
    cursor: pointer;
}

.modal-head img {
    width: 160px;

    border-radius: 50%;
    border: 2px solid #6D28D9;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-form i {
    width: 30px;

    color: #6D28D9;
    font-size: 30px;
}

.input-box {
    width: 320px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.input-box input {
    flex: 1;

    height: 50px;
    padding-left: 25px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
}

.modal-option {
    display: flex;
    align-items: center;
    gap: 15px;

    color: white;
}

.modal-option input {
    width: 15px;
}

.modal-option a {
    color: #6D28D9;
    text-decoration: none;
    font-weight: 600;
}

.term span {
    color: white;
}

.term a {
    text-decoration: none;
    color: #6D28D9;
}

.modal-submit:hover {
    transform: none;
}

button {
    width: 220px;
    height: 60px;
    background: linear-gradient(135deg, #8B5CF6 0%, #6D28D9 100%);
    border: none;
    color: white;  
    border-radius: 10px;
    font-family: inherit;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(124, 58, 237, .35);
}

footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 15px;
    font-weight: 300;
}
@media (min-width: 2200px) {

    #connexion {
        padding-top: 190px;
    }
}

@media (max-width: 767px) {

    header {
        display: flex;
        flex-direction: column;
    }
 
    header img {
        width: 190px;
        height: 190px;
}

}